<!-- SECTION 4: Credentials-->
 <section id="credentials" >
    <h2>Certificates and Credentials</h2>
    
    {% for cred in site.credly-certificates %}
      <div data-iframe-width="165" data-iframe-height="292" data-share-badge-id="{{ cred }}" data-share-badge-host="https://www.credly.com"></div>
    {% endfor %}

    {% for id in site.coursera-certificates %}
      <iframe src="/assets/certificates/{{ id }}.pdf" width="165" allow="autoplay"></iframe>
    {% endfor %}
 </section>
<script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>