<!-- SECTION 4: Credly-->
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="261645ae-7fec-42e3-a2f6-179ebdaafe5f" data-share-badge-host="https://www.credly.com"></div>
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="6f4bffe9-cd4b-4188-b024-bade6c2abc62" data-share-badge-host="https://www.credly.com"></div>
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="f9cd0dfb-1623-4371-be4e-d0c6c33115cf" data-share-badge-host="https://www.credly.com"></div>
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="454512ae-8d03-4a9b-a25e-4d300a822814" data-share-badge-host="https://www.credly.com"></div>
<script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>